<footer class="footer">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
              {% include socialmedia.html %}
              <ul class="footernav">
                <li><a href="{{ "/" | prepend: site.baseurl }}">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="{{ "/portfolio" | prepend: site.baseurl }}">Portfolio</a></li>
                <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
                <li><a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>
              </ul>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="footer__info">
        <p>&copy; 2016</p>
        <p>All Rights Reserved</p>
      <div>
    </div>
  </div>
</div>

</footer>
