.blog-title {
  text-align: center;
  color: #FFF;
  font-size: 5em;
  padding: .5em 0;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

.post-list {
  background-color: #FFF;
  padding: 3em;
  border-radius: 15px;
  margin: 3em 0;
  li {
    list-style: none;
  }
}

article.post {
    background-color: #FFF;
    padding: 3em;
    border-radius: 15px;
    margin: 3em 0;
    li {
      list-style: none;
    }

    .post-header {
      margin: 2em 0 1em 0;
    }
}
