.footer {
  background: #3C3744;
  padding: 15px;
  color: #c1c1c1;
}
.contact {
  .contact__title {
  }
}

.sponsors__heading{
  @media screen and (max-width: 767px){
    padding-top: 15px;
  }
}

.footernav {
  list-style: none;
  margin-top: 15px;
  margin-left: 0px;
  text-align: center;

  li {
    padding-bottom: 5px;
  }

  a {
  text-decoration: none;
  color: #FFF;
  &:hover,
  &:focus {
    color: darken(#FFF,20%);
  }
}

}

.footer__info {
  p {
  padding-top: 20px;
  text-align: center;
  color: #FFF;
  font-weight: 900;
}
}
