// .navbar {
  // margin-bottom: 0px;
  // background: #77C9D4;
  // border: 0px;
  // border-radius: 0px;
  // .active a {
    // background: #77C9D4;
  // }
// }

.navbar {

  margin-bottom: 0px;
  background: #77C9D4;
  border: 0px;
  border-radius: 0px;

  .container-fluid {
    @media screen and (min-width: $grid-float-breakpoint) {
      padding-right: 100px;
      position: relative;
    }
  }

  @media screen and (max-width: 860px){
    font-size: 14px;
  }

  .nav li a {
    color: #FFF;
    padding: 1.3em 0.7em;
    &:hover,
    &:focus {
      color: #A5A5AF;
    }
  }
}
