.navbar {

  margin-bottom: 0px;
  background: #77C9D4;
  border: 0px;
  border-radius: 0px;

  .container-fluid {
    @media screen and (min-width: $grid-float-breakpoint) {
      position: relative;
    }
  }

  @media screen and (max-width: 860px){
    font-size: 14px;
  }

  .nav li a {
    color: #FFF;
    padding: 1.3em 0.7em;
    &:hover,
    &:focus {
      color: darken(#FFF,10%);
    }
  }
}
