.footer .social {
  padding-left: 20px;
  text-align: center;
  font-size: 1.25em;
  .social__github{
    &:hover,
    &:focus{
      color: darken(#FFF,20%);
    }
  }
  .social__linkedin{
    &:hover,
    &:focus{
      color: darken(#FFF,20%);
    }
  }
  .social__mail{
    &:hover,
    &:focus{
      color: darken(#FFF,20%);
    }
  }
}

.social {
  .fa {
    padding-right: 20px;
    padding-top: 20px;
  }
  .social__github{
    color: #FFF;
    &:hover,
    &:focus {
      color: darken(#FFF,10%);
    }
  }
  .social__mail{
      color: #FFF;
      &:hover,
      &:focus {
        color: darken(#FFF,10%);
      }
  }
  .social__linkedin{
      color: #FFF;
      &:hover,
      &:focus {
        color: darken(#FFF,10%);
      }
  }
}
