<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="{{ page.layout }}">
    {% include header.html %}
    {% include jumbotron.html %}
    {% include technologies.html %}
    {% include contact.html %}
      <div class="container-fluid">
        <div class="row">
          {% if page.layout != 'home' %}
          <div class="col-md-12">
            <h1 class="page-title">{{ page.title }}</h1>
          </div>
          {% endif %}
            <div>
              {{ content }}
            </div>
        </div>
      </div>

  </body>

</html>
