---
layout: default
---
<div class="container-fluid">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <a href="javascript:window.history.back()">Back to Blog</a>
  <header class="post-header">
    {% for post in site.posts %}
    <h1 class="post-title" itemprop="name headline">{{ post.title }} - {{ post.date | date: "%b %-d, %Y" }}</h1>
    {% endfor %}
  </header>
  <div class="post-content" itemprop="articleBody">
    <div class="table-responsive">
      {{ content }}
    </div>
  </div>
</article>
</div
